<div class="w-fit gap-5 items-center flex flex-col login hidden " >
    <a href="/" class="flex items-center gap-1">
      <img src='motOO8rn_400x400-removebg-preview.png' alt="" width="50px">
      <h1></h1>
      </a>
      <h1 class="font-bold text-white text-xl">Millions of Amazing <br> Products in one place.</h1>
      <button class="w-full" onclick="location.href('/Signin')">Login</button>
      <p>Dont have an account? <a href="/signup">Create new account</a></p>
      <button class="w-full" id="LoginCancel">Cancel</button>
   </div>