<!DOCTYPE html>
<html lang="en">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <head>
    <style>
      form{
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.288);
        background-color: rgba(165, 155, 155, 0.555);
      }
    </style>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
  <%-include('./partials/head.ejs')%>
  <body class="overflow-hidden" >
    <section   class="relative animate__animated animate__fadeInDown pb-5" style="background-image: url('/images/bg.jpg');background-attachment: fixed; background-repeat: no-repeat; background-size: cover; ">
      <div class="container-fluid vh-100 overflow-hidden">
        <div class="row d-flex justify-content-center  align-items-center h-100">
          
            <!-- <div class="col-md-9 col-lg-6 col-xl-5">
              <img
              width="400px"
              height="400px"
              style="rotate: -10deg;"
              src="/original-3fb7e9e8d4341bce450935b1fbc50a20.png"
                class="img-fluid rounded-top animate__animated animate__fadeInDown shadow"
                alt="logo"
              />
            </div> -->
          
         
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1  justify-content-center  p-3 align-items-center d-flex col animate__animated animate__fadeInDown">
            <% if (!user) { %>
            <form id="form" >
              <p class="animate__animated animate__fadeInDown text-center text-dark-emphasis text-3xl"><b>Sign-In </b>Business Automated Dynamic Enterprise</p>
              <!-- Email input -->
              <div class="form-outline mb-4 form-floating">
                <input
                  type="email"
                  class="form-control form-control-lg shadow"
                  placeholder="Registered Email"
                  name="Email"
                />
                <label for="floatingTextarea">Registered Email</label>
                <p class="email error " style="color: chocolate;"></p>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-3 form-floating">
                <input
                  type="password"
                  class="form-control form-control-lg shadow"
                  placeholder="Password"
                  name="password"
                />
                <label for="floatingTextarea">Password</label>
                <p class="password error " style="color: chocolate;"></p>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <% if (!user) { %>
                <a href="/api/v1/Reset" class="link-opacity-50-hover">Forgot password?</a>
                <% } %>
              </div>
              <div class="text-center text-lg-start mt-4 pt-2">
                <button
                  type="submit"
                  class="btn btn-success btn-lg shadow"
                  style="padding-left: 2.5rem; padding-right: 2.5rem"
                >
                  Login
                </button>
                <% }else{%>
                  <div class="d-flex flex-column justify-content-between align-content-center">
                    <p class="animate__animated animate__fadeInDown text-center text-dark-emphasis text-3xl"><span style='font-size:40px;'>&#128075;</span> <b><%= user.firstName.toUpperCase() %>, How are you Enjoying </b>Business Automated Dynamic Enterprise ?</p>
                    <a href="/api/v1/Dashboard/<%= user._id %>" class="btn bg-warning-subtle shadow border rounded">BACK HOME</a><br>
                    <a href="/api/v1/logout/<%= user._id %>" class="btn btn-outline-danger shadow-sm rounded">LOGOUT</a>
                  </div>
                <%} %>
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </section>
    <footer>
      <!-- place footer here -->
      <div class="container-fluid fixed-bottom bg-dark-subtle ">
          <div class="row">
              <div class="col-12">
                  <div class="row">
                      <div class="col-12">
                          <p class="text-center">
                              BADE &copy; <script>
                                  document.write(new Date().getFullYear());
                              </script>. All rights reserved.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- end of footer -->
  </footer>
  </body>
  <script>


const swill = async ()=>{
        const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.onmouseenter = Swal.stopTimer;
          toast.onmouseleave = Swal.resumeTimer;
        }
      });
      Toast.fire({
        icon: "success",
        title: "Signed in successfully"
      });
    }


    const emailError = document.querySelector(".email.error");
    const passwordError = document.querySelector(".password.error");
    const form = document.querySelector("#form");
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      // clear error fileds
      emailError.textContent = "";
      passwordError.textContent = "";

      // targeting input elements
      let Email = form.Email.value;
      let password = form.password.value;

      try {
        const res = await fetch("/api/v1/SignIn", {
          method: "POST",
          body: JSON.stringify({ Email, password }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        if (data.serverError) {
          emailError.textContent = data.serverError;
        }

        if (data.errorPassword) {
          passwordError.textContent = data.errorPassword;
        }

        if (data.serverError) {
          emailError.textContent = data.serverError;
        }

        //check for registered customer
        if (data.Newcustomer) {
          form.reset()
          swill()
          setTimeout(()=>{
            location.assign(`/api/v1/Dashboard/${data.Newcustomer}`);
          },3000)
        }
      } catch (e) {
        emailError.textContent = `${e}`;
      }
    });
  </script>
  <!-- <script src="App.js"></script> -->
</html>
